.Profile-container {
	margin: 0.625rem auto;
	width: 50%;
}

.Profile-avatar {
	width: 9.375rem;
}

ul {
	list-style: none;
	padding: 0;
	text-align: left;
}

ul > li {
	display: flex;
	justify-content: space-between;
}

ul > li > span {
	font-weight: bold;
}